
<div class="embed-responsive embed-responsive-16by9">
<!--source = {{source}}-->	 <!-- display the name of the used source -->
	<!-- shows the web-page in an Iframe-->
  <iframe class="embed-responsive-item" id ="iframe-source" src="{{ URLOfsource | trusted }}">
  	
  </iframe>
<<<<<<< HEAD
  <!--list of movies = {{ListOfMovies}}-->
=======
  list of movies = {{ListOfMovies}}
>>>>>>> origin/master


</div>